* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/outros/texturafundo.png");
}

.cabecalho {
    text-align: center;
    text-decoration: none;
    display: flex;
    color: black;
    justify-content: center;
    padding: 30px;
}

a {
    color: black;
    transition: all 0.3s linear;
    font-size: 19px;
    text-decoration: none;
}

.cabecalho nav a {
    margin-left: 40px;
}

.cabecalho nav a:hover {
    color: blue;
}

h1 {
    text-align: center;
    color: brown;
}

#img {
    height: 350px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: brown;
}

#img2 {
    height: 350px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: brown;
}

#img3 {
    height: 350px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: brown;
}

#img4 {
    height: 350px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#rodape {
    color: black;
    text-align: center;
    font-size: 13px;
    padding: 50px;
    font-family: "Open Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#rodape a {
    color: rgb(57, 57, 247);
    font-size: 13px;
}